@model Assessments.ViewModels.SetupViewModels.SetupEditCategoryViewModel

@{
    ViewBag.Title = "EditCategory";
}

<h2>
    <a href="@Url.Action("EditAssessment", new { id = Model.AssessmentID })" type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-circle-arrow-left"></span>
    </a> Edit Category - 
    <span id="CategoryNameHeader">@Model.Name</span> 
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editModal">
        <span class="glyphicon glyphicon-edit"></span>
    </button>
</h2>


<div class="row">
    <div class="col-sm-4">
        <div id="QuestionList">
            @Html.Partial("_QuestionList", Model)
        </div>
    </div>
    <div class="col-sm-8">
        @using (Ajax.BeginForm(
                    "SaveQuestion",
                    new { id = Model.Question.ID, categoryID = ViewContext.RouteData.Values["id"] },
                    new AjaxOptions { UpdateTargetId = "QuestionList", OnSuccess = "AfterQuestionSave" },
                    new { id = "QuestionForm" })
                )
        {
        <div class="row">
            <div class="col-xs-12">
                @Html.Partial("_ValidationErrors", ViewData.ModelState)
            </div>
        </div>
        <div class="panel panel-primary">
            
            <div class="panel-heading">
                
                <div class="row clearfix">
                    <div class="col-sm-2">
                        @Html.LabelFor(o => o.Question.QuestonCode)
                        @Html.TextBoxFor(o => o.Question.QuestonCode, new { @class = "form-control" })
                    </div>
                    <div class="col-sm-10">
                        @Html.HiddenFor(o => o.Question.ID)
                        @Html.LabelFor(o => o.Question.Heading, new { @class = "" })
                        @Html.TextBoxFor(o => o.Question.Heading, new { @class = "form-control clearfix" })
                        <span class="hidden text-success questionSaved">Saved</span>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="form-group row">
                    <div class="col-xs-12">
                        @Html.LabelFor(o => o.Question.Body)
                        @Html.TextAreaFor(o => o.Question.Body, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-xs-12">
                        <button type="button" id="SaveQuestion" value="Save" class="btn btn-success btn-primary pull-right">
                            <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                            Save
                        </button>
                    </div>
                </div>
                <div class="row">
                    @for (int i = 0; i < Model.Levels.Count; i++)
                    {
                    <div class="col-xs-12 col-sm-3">
                        <div class="panel @Model.GetLevelClass(Model.Levels[i].Order)">
                            <div class="panel-heading">
                                @Model.Levels[i].Name
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                @foreach (var checkoffitem in Model.Levels[i].CheckoffItems)
                                {
                                    @Html.Partial("_CheckoffItem", checkoffitem)
                                }
                                </div>
                                <div id="NewItem-@Model.Levels[i].ID" class="row">
                                </div>
                                <div class="form-group row">
                                    <div class="col-xs-12">
                                        @Html.TextAreaFor(o => o.Levels[i].CheckoffItem.Wording, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="row @(Model.Question.ID == 0 ? "hidden hideForNew" : "")">
                                    <div class="col-xs-12">
                                        <button type="button" class="btn btn-success addCheckoffItem" data-id="0" data-levelid="@Model.Levels[i].ID" data-wordingid="@Html.IdFor(o => o.Levels[i].CheckoffItem.Wording)">
                                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                            Add New
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
        }
        @Html.ActionLink("Add Next Question","EditCategory", new { id = Model.ID, qid = 0 }, new { @class = "btn btn-primary" + (Model.Question.ID == 0 ? " hidden hideForNew" : "") })
    </div>
</div>
@using (Ajax.BeginForm(
                    "SaveCheckoffItem",
                    null,
                    new AjaxOptions { OnSuccess = "AfterCheckoffItemSave", InsertionMode = InsertionMode.InsertAfter, UpdateTargetId = "NewItem-0" },
                    new { id = "CheckoffItemForm" })
                )
{
    @Html.HiddenFor(o => o.CheckoffItem.ID)
    @Html.HiddenFor(o => o.CheckoffItem.QuestionID, new { @class = "ajaxqid" })
    @Html.HiddenFor(o => o.CheckoffItem.LevelID)
    @Html.HiddenFor(o => o.CheckoffItem.Wording)
}

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Edit Assessment</h4>
            </div>
            @using (Ajax.BeginForm(
                "UpdateCategory",
                new { id = Model.ID },
                new AjaxOptions { OnSuccess = "AfterUpdateCategory" },
                new { id = "UpdateCategoryForm" })
                )
            {
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            @Html.Partial("_ValidationErrors", ViewData.ModelState)
                            @Html.TextBoxFor(o => o.Name, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            }
        </div>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {
            $("#SaveQuestion").on("click", function () {
                $("#QuestionForm").submit();
            });
            $(".addCheckoffItem").on("click", function () {
                var wording = $("#" + $(this).attr("data-wordingid")).val();
                if (wording.length > 0) {
                    $("#@Html.IdFor(o => o.CheckoffItem.ID)").val($(this).attr("data-id"));
                    $("#@Html.IdFor(o => o.CheckoffItem.LevelID)").val($(this).attr("data-levelid"));
                    $("#@Html.IdFor(o => o.CheckoffItem.Wording)").val(wording);
                    $(".ajaxqid").val($(".setupQuestionMenuItem.active").attr("data-qid"));
                    $("#CheckoffItemForm").attr("data-ajax-update", "#NewItem-" + $(this).attr("data-levelid"));
                    $("#CheckoffItemForm").submit();
                    $("#" + $(this).attr("data-wordingid")).val("");
                }
            });
        });
        function AfterQuestionSave()
        {
            $(".hideForNew").removeClass("hidden");
        }
        function AfterCheckoffItemSave() {
            $(".new-c-item").addClass("row");
        }
        function AfterUpdateCategory() {
            $("#CategoryNameHeader").text($("#@Html.IdFor(o => o.Name)").val());
            $("#editModal").modal("hide");
            $(".validation-summary-errors").addClass("validation-summary-valid");
            $(".validation-summary-errors").removeClass("validation-summary-errors");
        }
    </script>
}