@model Assessments.ViewModels.AssessmentViewModels.ConductAssessmentViewModel

@{
    ViewBag.Title = "EditCategory";
}

<h2>
    <a href="@Url.Action("Index")" type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-circle-arrow-left"></span>
    </a>

     @Model.CategoryName
</h2>


<div class="row">
    <div class="col-sm-4">
        <div id="QuestionList">
            @Html.Partial("_QuestionList", Model)
        </div>
    </div>
    <div class="col-sm-8">
            <div class="panel panel-primary">

                <div class="panel-heading">

                    <div class="row clearfix">
                        <div class="col-xs-12">
                            @Model.Question.QuestionHeading
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="form-group row">
                        <div class="col-xs-12">
                            @Model.Question.QuestionBody
                        </div>
                    </div>
                    <div class="row">
                        @using (Html.BeginForm("ConductAssessment", "Assessment", new { id = ViewContext.RouteData.Values["id"] }, FormMethod.Post, new { id = "AnswerForm" }))
                        {
                            <div class="row">
                                <div class="col-xs-12">
                                    @Html.Partial("_ValidationErrors", ViewData.ModelState)
                                </div>
                            </div>
                            @Html.HiddenFor(o => o.CategoryID)
                            @Html.HiddenFor(o => o.Question.ID)
                            for (int l = 0; l < Model.Question.Levels.Count; l++)
                            {
                                <div class="col-xs-12 col-sm-3">
                                    <div class="panel @Model.GetLevelClass(Model.Question.Levels[l].LevelOrder)">
                                        <div class="panel-heading">
                                            @Model.Question.Levels[l].Name
                                        </div>
                                        <div class="panel-body">
                                            <div class="row">
                                                @for (var i = 0; i < Model.Question.Levels[l].CheckoffItems.Count; i++)
                                                {
                                                    <div class="col-xs-12">
                                                        @Html.HiddenFor(o => o.Question.Levels[l].CheckoffItems[i].ID)
                                                        @Html.HiddenFor(o => o.Question.Levels[l].LevelOrder)
                                                        <label>
                                                            @Html.CheckBoxFor(o => o.Question.Levels[l].CheckoffItems[i].Checked)
                                                            @Model.Question.Levels[l].CheckoffItems[i].Wording
                                                        </label>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            <div class="form-group">
                                <fieldset class="col-xs-12">
                                        @Html.LabelFor(o => o.Question.Comment)
                                        @Html.TextAreaFor(o => o.Question.Comment, new { @class = "form-control" })
                                </fieldset>
                            </div>
                        }
                    </div>
                </div>
            </div>
        <button class="btn btn-primary" id="SaveAnswer" >Next Question</button>
    </div>
</div>
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {
            $("#SaveAnswer").on("click", function () {
                $("#AnswerForm").submit();
            });
        });
    </script>
}