@model Assessments.ViewModels.AssessmentViewModels.ConductAssessmentViewModel

@{
    ViewBag.Title = "View Assessment";
    int NextQuestionID = Model.Questions.SkipWhile(o => o.ID == Model.Question.ID).FirstOrDefault() == null ? Model.Questions.First().ID : Model.Questions.SkipWhile(o => o.ID == Model.Question.ID).First().ID;
}

<h2>
    <a href="@Url.Action("Index")" type="button" class="btn btn-default disabled">
        <span class="glyphicon glyphicon-circle-arrow-left"></span>
    </a>

     @Model.CategoryName 
     @if (Model.Score != 0)
     {
        <span class="label @(Model.Score < 2 ? "label-danger" : Model.Score < 3 ? "label-warning" : Model.Score < 4 ? "label-info" : "label-success")">@Model.Score</span>
     }
</h2>


<div class="row">
    <div class="col-sm-4">
        <div id="QuestionList">
            @Html.Partial("_ViewQuestionList", Model)
        </div>
    </div>
    <div class="col-sm-8">
            <div class="panel panel-primary">

                <div class="panel-heading">

                    <div class="row clearfix">
                        <div class="col-xs-12">
                            @Model.Question.QuestionHeading
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="form-group row">
                        <div class="col-xs-12">
                            @Model.Question.QuestionBody
                        </div>
                    </div>
                    <div class="row">
                        @for (int l = 0; l < Model.Question.Levels.Count; l++)
                        {
                            <div class="col-xs-12 col-sm-3">
                                <div class="panel @Model.GetLevelClass(Model.Question.Levels[l].LevelOrder)">
                                    <div class="panel-heading">
                                        @Model.Question.Levels[l].Name
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            @for (var i = 0; i < Model.Question.Levels[l].CheckoffItems.Count; i++)
                                            {
                                                <div class="col-xs-12">
                                                    <span class="glyphicon @(Model.Question.Levels[l].CheckoffItems[i].Checked ? "glyphicon-ok" : "glyphicon-unchecked")"></span>
                                                    <p>@Model.Question.Levels[l].CheckoffItems[i].Wording</p>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="form-group">
                        <p>Comment:</p>
                        <div class="col-xs-12">
                            <p>@Model.Question.Comment</p>
                        </div>
                    </div>
                </div>
            </div>
        @Html.ActionLink("Next Question", "ViewAssessment", new { user = Model.UserDetailID, id = Model.CategoryID, qid = NextQuestionID }, new { @class = "btn btn-primary" })
    </div>
</div>
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")

}